.skin-blue .main-header .navbar {
    background-color: #45ADA8;
}

ul .dropdown-menu {
    border-radius: 0% 0%;
    background-color: #45ADA8;
    border-color: #45ADA8;
}

ul .dropdown-menu li a {
    color: white;
}

ul .dropdown-menu:hover {
    background-color: #3e9d98;
}
